     <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a class='sidebar-link' id='users2' ng-click='admin.activate($event)' href="#" style='background-color: #2980b9; color: #fff'><i class="fa fa-user"></i> Users</a>
                </li>
                <li>
                    <a class='sidebar-link' ng-click='admin.activate($event)' id='news2' href="#"><i class="fa fa-newspaper-o"></i> News</a>
                </li>
                <li>
                    <a class='sidebar-link' ng-click='admin.activate($event)' id='editor2' href="#"><i class="fa fa-pencil-square"></i> Editor</a>
                </li>
                <li>
                    <a class='sidebar-link' id='search2' ng-click='admin.activate($event); admin.setSearch()' href="#"><i class="fa fa-search"></i> Search</a>
                </li>
                <li>
                    <a class='sidebar-link' id='settings2' ng-click='admin.activate($event)' href="#"><i class="fa fa-cog"></i> Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-default fa fa-chevron-left" id="menu-toggle" style='border: none; background-color: #ecf0f1;'></a>
            <div class='space' id='users'>
              <h1>Users</h1>
              <ul class="list-group user-list">
                <li class="list-group-item" ng-repeat="user in admin.users">
                  <div class="user-info">
                    <strong>{{user.email}}</strong>
                    </br>
                    <span>Number of brackets: {{user.brackets.length}}</span>
                    </br>
                    <div class='bracket-info' style='display: block; border-top: 1px solid #2980b9; padding: 5px; margin: 5px;' ng-repeat='bracket in user.brackets'>
                      <p style='width: 175px;'>Name: {{bracket.name}}</p>
                      <p>|</p>
                      <p style='width: 175px;'>Champ: {{bracket.pickedChampion[0]}}</p>
                      <p>|</p>
                      <p style='width: 175px;'>Payer: {{bracket.payer_id}}</p>
                      <p>|</p>
                      <p style='width: 190px;'>Payment Status: {{bracket.payment_status}}</p>
                      <p>|</p>
                      <p style='width: 225px;'>Transaction: {{bracket.txn_id}}</p>
                      <button ng-show='bracket.bracket_active' ng-click='admin.deactivateBracket(user, bracket, $index)' style='float: right' class='btn btn-login'>Active</button>
                      <button ng-show='!bracket.bracket_active' ng-click='admin.activateBracket(user, bracket, $index)' style='float: right' class='btn btn-login'>Inactive</button>
                    </div>
                  </div>
                  <a href='#' ng-click="admin.delete(user)" class="trash" style='margin-left: 20px;'><span class="fa fa-trash fa-2x"></span></a>
                </li>
            </ul>
          </div>

          <div class='space' id='settings' style='display: none;'>
            <h1>Settings</h1>
            <h4>Date and Time Pool Opens</h4>
            <div>
              <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker1' style='color: #3498db'>
                      <input type='text' id='date' class="form-control" placeholder='{{admin.poolOpens | date: "MM/dd/yyyy h:mm a"}}'/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4>Date and Time Pool Closes</h4>
            <div>
              <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker2' style='color: #3498db'>
                      <input type='text' id='date2' class="form-control" placeholder="{{admin.poolCloses | date: 'MM/dd/yyyy h:mm a'}}"/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class='btn btn-primary save-changes fa fa-floppy-o' ng-click='admin.saveChanges()'> Save Changes</button>
          </div>

          <div class='space' id='editor' style='display: none;'>
            <h1>News Editor</h1>
            <div class='container' style='margin-left: -15px;'>
              <textarea  id="mytextarea"></textarea>
              <button class='btn btn-primary fa fa-floppy-o' style='margin-top: 30px; color: white;' ng-click='admin.saveArticle()'> Save</button>
            </div>
          </div>

          <div class='space' id='search' style='display: none;'>
          <h1 style='display: inline-block;'>Search Brackets</h1>
          <div class='search-area container' style='margin-left: -15px;'>
          <input style='display: inline-block;' ng-model='search.name' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Name Search"></input>
          <input style='display: inline-block;' ng-model='search.potentialPoints' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Possible Points Search"></input>
          <input style='display: inline-block;' ng-model='search.pickPercentage' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Pick Percentage Search"></input>
          <input style='display: inline-block;' ng-model='search.round1' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Round of 32 Search"></input>
          <input style='display: inline-block;' ng-model='search.round2' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Sweet Sixteen Search"></input>
          <input style='display: inline-block;' ng-model='search.round3' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Elite Eight Search"></input>
          <input style='display: inline-block;' ng-model='search.round4' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Final Four Search"></input>
          <input style='display: inline-block;' ng-model='search.round5' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Championship Search"></input>
          <input style='display: inline-block;' ng-model='search.pickedChampion' ng-change='admin.searchChange()' ng-blur='admin.searchChange()' id="search-box-any" type="text" class="search-box-admin" placeholder="Champion Search"></input>
          </div>
          <div class='container' style='margin-left: -15px;'>
              <div class='brackets-wrapper' style='background-color: #3498db; border-radius: 5px; padding: 5px;'>
                <div class='desc-header' style='padding: 10px; padding-top: 7px; padding-bottom: 7px;'>
                  <p style='width: 40px; text-align: center;'>Rank</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 150px; text-align: center;'>Name</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 80px; text-align: center;'>Total Points</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 100px; text-align: center;'>Possible Points</p>
                  <p style='color: #2980b9'>|</p>
                  <div id='gauge' style='width: 150px; display: inline-block; border-radius: 5px; text-align: center;'>
                    <p>Points Gauge</p>
                  </div>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 60px; text-align: center;'>Pick Pct</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 175px; text-align: center;'>Champion</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 90px; text-align: center;'>Tie Breaker</p>
                  <p style='color: #2980b9'>|</p>
                </div>

                <div ng-repeat='bracket in admin.brackets | filter:search' class='bracket-row'>
                  <p style='width: 40px; text-align: center;'>{{bracket.rank}}</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 150px;'>{{bracket.name}}</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 80px;'>{{bracket.score}}</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 100px;'>{{bracket.potentialPoints}}</p>
                  <p style='color: #2980b9'>|</p>
                  <div id='gauge' style='width: 150px; display: inline-block; border-radius: 5px;'>
                    <p style='background-color: #f39c12; border-radius: 5px; margin-right: -2px; text-align: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;{{admin.setWidth(bracket.score, bracket.potentialPoints, 1)}}'>{{bracket.score}}</p>
                    <p style='background-color: #2ecc71; margin-left: -2px; text-align: center; border-radius: 5px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; {{admin.setWidth(bracket.score, bracket.potentialPoints, 2)}}'>{{bracket.potentialPoints - bracket.score}}</p>
                  </div>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 60px;'>{{bracket.pickPercentage}}%</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 175px;'>{{bracket.pickedChampion[0].slice(2, bracket.pickedChampion[0].length)}}</p>
                  <p style='color: #2980b9'>|</p>
                  <p style='width: 90px;'>{{bracket.tieBreaker}}</p>
                  <p style='color: #2980b9'>|</p>
                  <button class="fa fa-chevron-down" style='float: right; border-radius: 5px; font-size: 12pt; padding: 5px; padding-right: 10px; padding-left: 10px; margin-top: -3px; border: none; background-color: #2980b9; color: white; margin-left: 5px;' ng-click='admin.toggleBracket($event, $index)'></button>
                  <div class='bracket-panel' id='{{"bracket-panel" + $index}}' style='background-color: white; border-radius: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 15px; display: none; padding-left: 2px;'>

                    <div class='floating-div-master floating-div' style='margin-top: 280px;'>
                      <div ng-repeat="number in admin.range(1)" class='one' style='margin-bottom: 5px'>
                        <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "1"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[6][number]}}" style='pointer-events: none;'></input>
                      </div>
                    </br>
                    <p style='color: black; margin-bottom: 5px;'>Tie Breaker (Total Points)</p>
                  </br>
                  <input type='text' value='{{bracket.tieBreaker}}' class='tiebreaker-space' id='tiebreaker-number'/>
                </br>
                <div ng-repeat="number in admin.range(1)" class='four'>
                  <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + 0 + "4"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[4][number]}}" style='pointer-events: none;'></input>
                  <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + 1 + "4"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[4][number + 1]}}" style='pointer-events: none;'></input>
                </div>
                <div ng-repeat="number in admin.range(1)" class='two' >
                  <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "2"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[5][number]}}" style='pointer-events: none;'></input>
                  <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "2"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[5][number + 1]}}" style='pointer-events: none;'></input>
                </div>
                <div ng-repeat="number in admin.range(1)" class='four' >
                  <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + 2 + "4"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[4][number + 2]}}" style='pointer-events: none;'></input>
                  <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + 3 + "4"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[4][number + 3]}}" style='pointer-events: none;'></input>
                </div>
              </div>

              <div class='row row-sm-flex-center seven-cols-mybracket bracket'>
                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(16)" class='sixty-four' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number]}}" placeholder='{{admin.seeds[number]}}'></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number + 1]}}" placeholder='{{admin.seeds[number + 1]}}'></input>
                  </div>
                  <div style='height: 5px'/>
                  <div ng-repeat="number in admin.range(16)" class='sixty-four' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 16) + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number + 16]}}" placeholder='{{admin.seeds[number]}}'></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 17) + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number + 17]}}" placeholder='{{admin.seeds[number + 1]}}'></input>
                  </div>
                </div>

                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(8)" class='thirty-two-one' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "32"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[1][number]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "32"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[1][number + 1]}}"></input>
                  </div>
                  <div ng-repeat="number in admin.range(8)" class='thirty-two-two' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 8)+ "32"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[1][number + 8]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 9) + "32"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[1][number + 9]}}"></input>
                  </div>
                </div>

                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(4)" class='sixteen-one' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "16"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[2][number]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "16"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[2][number + 1]}}"></input>
                  </div>
                  <div ng-repeat="number in admin.range(4)" class='sixteen-two' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 4)+ "16"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[2][number + 4]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 5) + "16"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[2][number + 5]}}"></input>
                  </div>
                </div>

                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(2)" class='eight-one' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "8"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[3][number]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "8"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[3][number + 1]}}"></input>
                  </div>
                  <div ng-repeat="number in admin.range(2)" class='eight-two' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 2)+ "8"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[3][number + 2]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 3) + "8"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[3][number + 3]}}"></input>
                  </div>
                </div>

                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(2)" class='eight-one' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 4)+ "8"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[3][number + 4]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 5) + "8"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[3][number + 5]}}"></input>
                  </div>
                  <div ng-repeat="number in admin.range(2)" class='eight-two' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 6)+ "8"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[3][number + 6]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 7) + "8"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[3][number + 7]}}"></input>
                  </div>
                </div>

                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(4)" class='sixteen-one' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 8)+ "16"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[2][number + 8]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 9) + "16"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[2][number + 9]}}"></input>
                  </div>
                  <div ng-repeat="number in admin.range(4)" class='sixteen-two' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 12)+ "16"}}'  ng-dblclick='admin.resetSpace($event, admin.isAdmin())' value="{{bracket.bracket[2][number + 12]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 13) + "16"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[2][number + 13]}}"></input>
                  </div>
                </div>

                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(8)" class='thirty-two-one' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 16)+ "32"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[1][number + 16]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 17) + "32"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[1][number + 17]}}"></input>
                  </div>
                  <div ng-repeat="number in admin.range(8)" class='thirty-two-two' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 24)+ "32"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[1][number + 24]}}"></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 25) + "32"}}' ng-dblclick='admin.resetSpace($event, admin.isAdmin())'  value="{{bracket.bracket[1][number + 25]}}"></input>
                  </div>
                </div>

                <div class='col-md-1'>
                  <div ng-repeat="number in admin.range(16)" class='sixty-four' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 32) + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number + 32]}}" placeholder='{{admin.seeds[number]}}'></input>
                    <input type='submit'sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 33) + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number + 33]}}" placeholder='{{admin.seeds[number + 1]}}'></input>
                  </div>
                  <div style='height: 5px'/>
                  <div ng-repeat="number in admin.range(16)" class='sixty-four' >
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 48) + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number + 48]}}" placeholder='{{admin.seeds[number]}}'></input>
                    <input type='submit' sglclick='admin.advanceTeam($event, admin.isAdmin())' ng-blur='admin.changeToButton($event, admin.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 49) + "64"}}' ng-dblclick='admin.changeValue($event, admin.isAdmin())' value="{{bracket.bracket[0][number + 49]}}" placeholder='{{admin.seeds[number + 1]}}'></input>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    tinymce.init({
      selector: '#mytextarea',
      plugins : 'advlist autolink link image lists charmap print preview code wordcount',
      toolbar: 'bold, italic, underline, strikethrough, alignleft, aligncenter, alignright, alignjustify, styleselect, formatselect, fontselect, fontsizeselect, bullist, numlist, outdent, indent, blockquote, undo, redo, removeformat',
      theme: 'modern'
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $('#menu-toggle').toggleClass('fa-bars fa-chevron-left');
    });

    $('.sidebar-nav li a').click(function(e) {
      if (e.target.id === 'users2') {
        $('.space').css('display', 'none');
        $('#users').css('display', 'block');
      } else if (e.target.id === 'settings2') {
        $('.space').css('display', 'none');
        $('#settings').css('display', 'block');
      } else if (e.target.id === 'search2') {
        $('.space').css('display', 'none');
        $('#search').css('display', 'block');
      } else if (e.target.id === 'editor2') {
        $('.space').css('display', 'none');
        $('#editor').css('display', 'block');
      }
    });

    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
    </script>
