.editor {
  height: 30vh;
  font-size: 10pt;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  padding: 5px;
}

.editor:focus {
  width: 100%;
  box-shadow: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}

.list-group {
  border: none;
}

.list-group-item {
  background-color: #3498db;
  color: white;
  border: none;
}

.bracket-info p {
  display: inline-block;
  text-align: center;
}

iframe {
  height: 64.5vh;
  font-size: 10pt;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
}

.trash { 
  color: #fff;
  background-color: #e74c3c;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  font-size: 8pt;
}

.trash:hover {
  color: white;
}

.user-list li {
	display: flex;
	border: none;
	border-bottom: 1px #2980b9 solid;
	margin-bottom: 0;
}
.user-list li:last-child {
	border-bottom: none;
}
.user-list li .user-info {
	flex-grow: 1;
}
.user-list li .trash {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.day.active {
	background-color: #3298db !important;
}

.day.active:hover {
	background-color: #2980b9;
}

#datetimepicker1 {
	color: #3498db !important;
}

#datetimepicker span:hover, #datetimepicker span:focus {
	color: #3498db !important;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #3498db;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 60px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #3498db;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 26px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.search-area .search-box-admin {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, margin-left 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 376px;
  border-radius: 5px;
  background: #3498db;
  color: #fff;
  height: 40px;
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

.search-box:focus + label .search-icon {
  color: #4493b9;
}

.search-box:focus + .search-submit {
  height: 40px;
}

.open {
    height: auto;
}

.bracket-row {
  padding: 10px;
  border-top: 1px solid #2980b9;
  border-radius: 0px;
  background-color: #3498db;
  color: white;
}

.bracket-row p, .brackets-wrapper p {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    display: inline-block;
  text-align: center;
}

.btn-login:hover {
  background-color: #ecf0f1;
  border-top: 1px solid #3498db;
  border: 1px;
}

.col-md-1 {
  z-index: 1;
  pointer-events: none;
}

.bracket-panel {
    pointer-events: none;
}

.bracket-mybracket .form-control {
    background-color: #3498db;
    color: white;
    border: none;
  text-align: left;
}

.seven-cols-mybracket .bracket-space {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 8pt;
    width: 100%;
  height: 25px;
  pointer-events: none;
}

.floating-div-mybracket .one {
  float: none;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  border-left: 4px solid white;
  z-index: 999;
}

.floating-div-mybracket {
  float: none;
  margin: 0 auto;
  text-align: center;
  z-index: 999;
  margin-bottom: -39.5%;
  margin-top: 25%;
  border-left: 4px solid white;
  height: 170px;
}

.floating-div-mybracket .tiebreaker-space {
  border: none;
  margin-bottom: 5px;
  height: 25px;
  background-color: #3498db;
  border-radius: 5px;
  text-align: center;
  margin-top: -10px;
  margin-left: 4px;
  color: white;
}

.floating-div-mybracket p {
  margin-top: -20px;
}

.floating-div-mybracket .four, .floating-div-mybracket .two {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}

.floating-div-mybracket .two .top, .floating-div-mybracket .two .bottom {
  height: 30px;
  width: 175px;
}

.bracket-space.top {
  background-color: #3498db;
  color: white;
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #2980b9;
}

.bracket-space.bottom {
  background-color: #3498db;
  color: white;
  border: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-top: 0px;
  border-top: 1px solid #2980b9;
}

.bracket-space.focused {
  background-color: #fff;
  border: 2px solid #3498db;
  color: black;
}

.thirty-two-one .bottom {
  margin-bottom: 54px;
}

.thirty-two-two .top {
  margin-top: 54px;
}

.sixteen-one .bottom {
  margin-bottom: 158px;
}

.sixteen-two .top {
  margin-top: 158px;
}

.eight-one .bottom {
  margin-bottom: 366px;
}

.eight-two .top {
  margin-top: 366px;
}

@media (min-width: 768px) {
  .seven-cols-mybracket .col-md-1,
  .seven-cols-mybracket .col-sm-1,
  .seven-cols-mybracket .col-lg-1  {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols-mybracket .col-md-1,
  .seven-cols-mybracket .col-sm-1,
  .seven-cols-mybracket .col-lg-1 {
    width: 14.375%;
    margin-right: -25px
  }
}

@media (min-width: 1200px) {
  .seven-cols-mybracket .col-md-1,
  .seven-cols-mybracket .col-sm-1,
  .seven-cols-mybracket .col-lg-1 {
    width: 14.375%;
    margin-right: -25px;
  }

.row-xs-flex-center {
  display:flex;
  align-items:center;
}

@media ( min-width:768px ) {
 .row-sm-flex-center {
    display:flex;
    align-items:center; 
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    align-self: stretch;    
    justify-content: space-around;
  }
}
@media ( min-width: 992px ) {
  .row-md-flex-center {
    display:flex;
    align-items:center;
  }
}
@media ( min-width: 1200px ) {
  .row-lg-flex-center {
    display:flex;
    align-items:center;
  }

