<div class="navbar navbar-default navbar-static-top navbar-fixed-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isLoggedIn() && nav.isPoolOpen" ng-class="{active: nav.isActive('/createbracket')}"><a href="/createbracket"><i class="fa fa-plus"></i> Create a Bracket</a></li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/mybrackets')}"><a href="/mybrackets">My Brackets</a></li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/masterbracket')}"><a href="/masterbracket">Live Bracket</a></li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/rankings')}"><a href="/rankings">Rankings</a></li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/stats')}"><a href="/stats">Stats</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin Panel</a></li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}"><a href="/settings"><span class="fa fa-cog"></span></a></li>
      </ul>
    </div>
  </div>
</div>
<style>
.navbar-default {
  background-color: #3498db;
  border: none;
  border-bottom: 1px solid #2980b9;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #2980b9;
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2980b9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2980b9;
}
.navbar-default .navbar-toggle {
  border-color: #2980b9;
  border-width: 1px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2980b9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3498db;
}
.navbar-default .navbar-link {
  color: #fff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {

  .navbar-collapse.in {
    max-height: none;
    overflow: auto;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2980b9;
  }
}
</style>
