h1 {
	margin-bottom: 25px;
  display: inline-block;
  width: 65%;
}

.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, margin-left 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  border-radius: 5px;
  background: #3498db;
  color: #fff;
  margin-top: 20px;
  height: 40px;
  width: 34.4%;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

.search-box:focus + label .search-icon {
  color: #4493b9;
}

.search-box:focus + .search-submit {
  height: 40px;
}

.search-submit {
  transition: height 0.6s;
  display: inline-block;
  background-color: #3498db;
  border: 0px;
  border-radius: 5px;
  color: #fff;
  width: 300px;
  margin: auto;
  height: 60px;
  float: right;
}

.search-icon {
  position: relative;
  left: -30px;
  color: #fff;
  cursor: pointer;
  float: right;
}

.open {
	height: auto;
}

.bracket-row {
  padding: 10px;
  border-top: 1px solid #2980b9;
  border-radius: 0px;
  background-color: #3498db;
  color: white;
}

.bracket-row p, .brackets-wrapper p {
	padding: 0;
	margin: 0;
	margin-left: 5px;
	display: inline-block;
  text-align: center;
}

.btn-login:hover {
  background-color: #ecf0f1;
  border-top: 1px solid #3498db;
  border: 1px;
}

.col-md-1 {
  z-index: 1;
  pointer-events: none;
}

.bracket-panel {
	pointer-events: none;
}

.bracket-mybracket .form-control {
	background-color: #3498db;
	color: white;
	border: none;
  text-align: left;
}

.seven-cols-mybracket .bracket-space {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 8pt;
	width: 100%;
  height: 25px;
  pointer-events: none;
}

.floating-div-mybracket .one {
  float: none;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  border-left: 4px solid white;
  z-index: 999;
}

.floating-div-mybracket {
  float: none;
  margin: 0 auto;
  text-align: center;
  z-index: 999;
  margin-bottom: -39.5%;
  margin-top: 25%;
  border-left: 4px solid white;
  height: 170px;
}

.floating-div-mybracket .tiebreaker-space {
  border: none;
  margin-bottom: 5px;
  height: 25px;
  background-color: #3498db;
  border-radius: 5px;
  text-align: center;
  margin-top: -10px;
  margin-left: 4px;
  color: white;
}

.floating-div-mybracket p {
  margin-top: -20px;
}

.floating-div-mybracket .four, .floating-div-mybracket .two {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}

.floating-div-mybracket .two .top, .floating-div-mybracket .two .bottom {
  height: 30px;
  width: 175px;
}

.bracket-space.top {
  background-color: #3498db;
  color: white;
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #2980b9;
}

.bracket-space.bottom {
  background-color: #3498db;
  color: white;
  border: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-top: 0px;
  border-top: 1px solid #2980b9;
}

.bracket-space.focused {
  background-color: #fff;
  border: 2px solid #3498db;
  color: black;
}

.thirty-two-one .bottom {
  margin-bottom: 54px;
}

.thirty-two-two .top {
  margin-top: 54px;
}

.sixteen-one .bottom {
  margin-bottom: 158px;
}

.sixteen-two .top {
  margin-top: 158px;
}

.eight-one .bottom {
  margin-bottom: 366px;
}

.eight-two .top {
  margin-top: 366px;
}

.fa-chevron-down {
    display: none;
  }

  .fa-print {
    display: none;
  }

  #total_points {
    display: inline-block;
  }

  #possible_points {
    display: none;
  }

  #champion {
    display: none;
  }

  #tiebreaker {
    display: none;
  }

  #gauge {
    visibility: hidden;
  }

  #pick_percentage {
    visibility: hidden;
  }

@media (min-width: 768px) {
  .seven-cols-mybracket .col-md-1,
  .seven-cols-mybracket .col-sm-1,
  .seven-cols-mybracket .col-lg-1  {
    width: 100%;
  }

  .row-sm-flex-center {
    display:flex;
    align-items:center; 
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    align-self: stretch;    
    justify-content: space-around;
  }

  .fa-chevron-down {
    display: none;
  }

  .fa-print {
    display: none;
  }

  #total_points {
    display: inline-block;
  }

  #possible_points {
    display: none;
  }

  #champion {
    display: none;
  }

  #tiebreaker {
    display: none;
  }

    #gauge {
    visibility: visible;
  }

  #pick_percentage {
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .seven-cols-mybracket .col-md-1,
  .seven-cols-mybracket .col-sm-1,
  .seven-cols-mybracket .col-lg-1 {
    width: 14.375%;
    margin-right: -25px
  }

  .row-md-flex-center {
    display:flex;
    align-items:center;
  }

  .fa-chevron-down {
    display: none;
  }

  .fa-print {
    display: none;
  }

  #total_points {
    display: inline-block;
  }

  #possible_points {
    display: none;
  }

  #champion {
    display: inline-block;
  }

  #tiebreaker {
    display: inline-block;
  }

    #gauge {
    visibility: visible;
  }

  #pick_percentage {
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .seven-cols-mybracket .col-md-1,
  .seven-cols-mybracket .col-sm-1,
  .seven-cols-mybracket .col-lg-1 {
    width: 14.375%;
    margin-right: -25px;
  }

  .row-lg-flex-center {
    display:flex;
    align-items:center;
  }

  .row-xs-flex-center {
    display:flex;
    align-items:center;
  }

  .fa-chevron-down {
    display: inline-block;
  }

  .fa-print {
    display: inline-block;
  }

  #total_points {
    display: inline-block;
  }

  #possible_points {
    display: inline-block;
  }

  #champion {
    display: inline-block;
  }

  #tiebreaker {
    display: inline-block;
  }

    #gauge {
    visibility: visible;
  }

  #pick_percentage {
    visibility: visible;
  }
}
