<div class='container'>
	<h1>Current Rankings</h1>
	<input style='display: inline-block; margin-top: 20px;' ng-model='search' ng-blur='rankings.searchChange()' ng-change='rankings.searchChange()' id="search-box" type="text" class="search-box" placeholder="Search"></input>
	<div class='brackets-wrapper' style='background-color: #3498db; border-radius: 5px; padding: 5px;'>
		<div class='desc-header' style='padding: 10px; padding-top: 7px; padding-bottom: 7px;'>
			<p style='width: 30px; text-align: center;'>Rank</p>
			<p style='color: #2980b9'>|</p>
			<p style='width: 175px; text-align: center;'>Name</p>
			<p style='color: #2980b9'>|</p>
			<p style='width: 80px; text-align: center;' id='total_points'>Total Points</p>
			<p style='color: #2980b9' id='total_points'>|</p>
			<p style='width: 100px; text-align: center;' id='possible_points'>Possible Points</p>
			<p style='color: #2980b9' id='possible_points'>|</p>
			<div id='gauge' style='width: 150px; display: inline-block; border-radius: 5px; text-align: center;'>
				<p>Points Gauge</p>
			</div>
			<p style='color: #2980b9'>|</p>
			<p style='width: 60px; text-align: center;'>Pick Pct</p>
			<p style='color: #2980b9'>|</p>
			<p style='width: 110px; text-align: center;'>Champion</p>
			<p style='color: #2980b9'>|</p>
			<p style='width: 90px; text-align: center;'>Tie Breaker</p>
			<p style='color: #2980b9'>|</p>
		</div>

		<div ng-repeat='bracket in rankings.brackets | filter:search' class='bracket-row'>
		<p style='width: 30px; text-align: center;'>{{bracket.rank}}</p>
		<p style='color: #2980b9'>|</p>
		<p style='width: 175px;'>{{bracket.name}}</p>
		<p style='color: #2980b9'>|</p>
		<p style='width: 80px;' id='total_points'>{{bracket.score}}</p>
		<p style='color: #2980b9' id='total_points'>|</p>
		<p style='width: 100px;' id='possible_points'>{{bracket.potentialPoints}}</p>
		<p style='color: #2980b9' id='possible_points'>|</p>
		<div id='gauge' style='width: 150px; display: inline-block; border-radius: 5px;'>
			<p style='background-color: #f39c12; border-radius: 5px; margin-right: -2px; text-align: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;{{rankings.setWidth(bracket.score, bracket.potentialPoints, 1)}}'>{{bracket.score}}</p>
			<p style='background-color: #2ecc71; margin-left: -2px; text-align: center; border-radius: 5px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; {{rankings.setWidth(bracket.score, bracket.potentialPoints, 2)}}'>{{bracket.potentialPoints - bracket.score}}</p>
		</div>
		<p style='color: #2980b9'>|</p>
		<p style='width: 60px;'>{{bracket.pickPercentage}}%</p>
		<p style='color: #2980b9'>|</p>
		<p style='width: 110px;'>{{bracket.pickedChampion[0].slice(2, bracket.pickedChampion[0].length)}}</p>
		<p style='color: #2980b9'>|</p>
		<p style='width: 90px;'>{{bracket.tieBreaker}}</p>
		<p style='color: #2980b9'>|</p>
		<button class="fa fa-chevron-down" style='float: right; border-radius: 5px; font-size: 12pt; padding: 5px; padding-right: 10px; padding-left: 10px; margin-top: -3px; border: none; background-color: #2980b9; color: white; margin-left: 5px;' ng-click='rankings.toggleBracket($event, $index)'></button>
		<div class='bracket-panel' id='{{"bracket-panel" + $index}}' style='background-color: white; border-radius: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 15px; display: none; padding-left: 2px;'>
			
			<div class='floating-div-master floating-div' style='margin-top: 280px;'>
				<div ng-repeat="number in rankings.range(1)" class='one' style='margin-bottom: 5px'>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "1"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[6][number]}}" style='pointer-events: none;'></input>
				</div>
				</br>
				<p style='color: black; margin-bottom: 5px;'>Tie Breaker (Total Points)</p>
				</br>
				<input type='text' value='{{bracket.tieBreaker}}' class='tiebreaker-space' id='tiebreaker-number'/>
			</br>
			<div ng-repeat="number in rankings.range(1)" class='four'>
				<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + 0 + "4"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[4][number]}}" style='pointer-events: none;'></input>
				<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + 1 + "4"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[4][number + 1]}}" style='pointer-events: none;'></input>
			</div>
			<div ng-repeat="number in rankings.range(1)" class='two' >
				<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "2"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[5][number]}}" style='pointer-events: none;'></input>
				<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "2"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[5][number + 1]}}" style='pointer-events: none;'></input>
			</div>
			<div ng-repeat="number in rankings.range(1)" class='four' >
				<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + 2 + "4"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[4][number + 2]}}" style='pointer-events: none;'></input>
				<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + 3 + "4"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[4][number + 3]}}" style='pointer-events: none;'></input>
			</div>
		</div>

		<div class='row row-sm-flex-center seven-cols-mybracket bracket'>
			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(16)" class='sixty-four' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number]}}" placeholder='{{rankings.seeds[number]}}'></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number + 1]}}" placeholder='{{rankings.seeds[number + 1]}}'></input>
				</div>
				<div style='height: 5px'/>
				<div ng-repeat="number in rankings.range(16)" class='sixty-four' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 16) + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number + 16]}}" placeholder='{{rankings.seeds[number]}}'></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 17) + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number + 17]}}" placeholder='{{rankings.seeds[number + 1]}}'></input>
				</div>
			</div>

			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(8)" class='thirty-two-one' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "32"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[1][number]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "32"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[1][number + 1]}}"></input>
				</div>
				<div ng-repeat="number in rankings.range(8)" class='thirty-two-two' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 8)+ "32"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[1][number + 8]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 9) + "32"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[1][number + 9]}}"></input>
				</div>
			</div>

			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(4)" class='sixteen-one' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "16"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[2][number]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "16"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[2][number + 1]}}"></input>
				</div>
				<div ng-repeat="number in rankings.range(4)" class='sixteen-two' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 4)+ "16"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[2][number + 4]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 5) + "16"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[2][number + 5]}}"></input>
				</div>
			</div>

			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(2)" class='eight-one' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + number + "8"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[3][number]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 1) + "8"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[3][number + 1]}}"></input>
				</div>
				<div ng-repeat="number in rankings.range(2)" class='eight-two' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 2)+ "8"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[3][number + 2]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 3) + "8"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[3][number + 3]}}"></input>
				</div>
			</div>

			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(2)" class='eight-one' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 4)+ "8"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[3][number + 4]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 5) + "8"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[3][number + 5]}}"></input>
				</div>
				<div ng-repeat="number in rankings.range(2)" class='eight-two' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 6)+ "8"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[3][number + 6]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 7) + "8"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[3][number + 7]}}"></input>
				</div>
			</div>

			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(4)" class='sixteen-one' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 8)+ "16"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[2][number + 8]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 9) + "16"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[2][number + 9]}}"></input>
				</div>
				<div ng-repeat="number in rankings.range(4)" class='sixteen-two' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 12)+ "16"}}'  ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())' value="{{bracket.bracket[2][number + 12]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 13) + "16"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[2][number + 13]}}"></input>
				</div>
			</div>

			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(8)" class='thirty-two-one' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 16)+ "32"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[1][number + 16]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 17) + "32"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[1][number + 17]}}"></input>
				</div>
				<div ng-repeat="number in rankings.range(8)" class='thirty-two-two' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 24)+ "32"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[1][number + 24]}}"></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 25) + "32"}}' ng-dblclick='rankings.resetSpace($event, rankings.isAdmin())'  value="{{bracket.bracket[1][number + 25]}}"></input>
				</div>
			</div>

			<div class='col-md-1'>
				<div ng-repeat="number in rankings.range(16)" class='sixty-four' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 32) + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number + 32]}}" placeholder='{{rankings.seeds[number]}}'></input>
					<input type='submit'sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 33) + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number + 33]}}" placeholder='{{rankings.seeds[number + 1]}}'></input>
				</div>
				<div style='height: 5px'/>
				<div ng-repeat="number in rankings.range(16)" class='sixty-four' >
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control top' id='{{bracket.owner + bracket.name + (number + 48) + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number + 48]}}" placeholder='{{rankings.seeds[number]}}'></input>
					<input type='submit' sglclick='rankings.advanceTeam($event, rankings.isAdmin())' ng-blur='rankings.changeToButton($event, rankings.isAdmin())' class='bracket-space form-control bottom' id='{{bracket.owner + bracket.name + (number + 49) + "64"}}' ng-dblclick='rankings.changeValue($event, rankings.isAdmin())' value="{{bracket.bracket[0][number + 49]}}" placeholder='{{rankings.seeds[number + 1]}}'></input>
				</div>
			</div>

		</div>
	</div>
	</div>
</div>
