@media print {
  /*remove chrome links*/

    .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: right;
  }
  
  .thirty-two {
    margin-top: 30px;
  }

  .sixteen {
    margin-top: 80px;
  }

  .eight {
    margin-top: 200px;
    margin-bottom: 170px;
  }

  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 12%;
  }

  .row-xs-flex-center {
    display:flex;
    align-items:center;
  }
}

.printable {
	pointer-events: none;
}

.col-md-1 {
  z-index: 1;
  pointer-events: none;
}

.bracket .form-control {
	background-color: #3498db;
	color: white;
	border: none;
  text-align: left;
  vertical-align: middle;
}

.bracket-space {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 8pt;
	width: 100%;
  height: 25px;
}

.printable .floating-div-master .one .top {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 230px;
  text-align: center;
  font-size: 10pt;
}

.printable .floating-div-master .bracket-space {
  width: 180px;
  text-align: left;
  pointer-events: none;
}

.printable .floating-div-master .four, .printable .floating-div-master .two {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}

.printable.floating-div-master .two .top, .printable .floating-div-master .two .bottom {
  height: 30px;
  width: 180px;
}

.printable .floating-div-master .one {
  float: none;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
  border-left: 4px solid white;
  z-index: 999;
}

.printable .floating-div-master {
  float: none;
  margin: 0 auto;
  text-align: center;
  z-index: 999;
  margin-bottom: -30%;
  margin-top: 17%;
  border-left: 4px solid white;
}

.printable .floating-div-master .tiebreaker-space {
  border: none;
  margin-bottom: 5px;
  height: 25px;
  background-color: #3498db;
  border-radius: 5px;
  text-align: center;
  margin-top: -10px;
  margin-left: 4px;
  color: white;
}

.floating-div-master p {
  margin-top: -20px;
}

.bracket-space.top {
  background-color: #3498db;
  color: white;
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #2980b9;
}

.bracket-space.bottom {
  background-color: #3498db;
  color: white;
  border: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-top: 0px;
  border-top: 1px solid #2980b9;
}

.bracket-space.focused {
  background-color: #fff;
  border: 2px solid #3498db;
  color: black;
}

.thirty-two-one .bottom {
  margin-bottom: 54px;
}

.thirty-two-two .top {
  margin-top: 54px;
}

.sixteen-one .bottom {
  margin-bottom: 158px;
}

.sixteen-two .top {
  margin-top: 158px;
}

.eight-one .bottom {
  margin-bottom: 366px;
}

.eight-two .top {
  margin-top: 366px;
}

#save-changes:hover {
  border-top: 1px solid #fff;
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.5%;
    margin-right: -25px;
  }

  .row-xs-flex-center {
    display:flex;
    align-items:center;
  }
}

@media ( min-width: 1200px ) {
  .row-lg-flex-center {
    display:flex;
    align-items:center;
  }

#print {
  -webkit-animation: pulse1 1s linear infinite;
  -moz-animation: pulse1 1s linear infinite;
  -ms-animation: pulse1 1s linear infinite;
  animation: pulse1 1s linear infinite;
  max-height: 60px;
}

@keyframes "pulse1" {
 0% {
    background-color: #3498db;
 }
 50% {
  background-color: #2980b9;
 }
 100% {
    background-color: #3498db;
 }